html,
body {
    margin: 0;
    padding: 0;
}

* {
    height: 100%;
}

#scene{
    min-height: 460px;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
}

li[class^="layer"] {
    list-style: none;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.layer0 {
    background-color: #17101c;

}

.layer1 {
    background-image: url("images/Bg.png");
}

.layer2 {
    background-image: url("images/Name.png");
}

.layer25 {
    background-image: url("images/NameScreen.png");
    opacity: 67%;
    mix-blend-mode: screen;
}

.layer3 {
    background-image: url("images/DotScreen.png");
    mix-blend-mode: screen;
}

.layer35 {
    background-image: url("images/DotColorDodge.png");
    mix-blend-mode: color-dodge;
}

.layer4 {
    background-image: url("images/PostColorDodge.png");
    mix-blend-mode: color-dodge;
}

