html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    height: 100%;
}

body {
    background: url("images/Curves 1.jpg") center center no-repeat;
    background-size: cover;

}

.promo-image {
    background: url("images/Free iPhone Xr2,221.png") no-repeat;
    background-size: contain;
    width: 35%;
    height: 70%;
    float: left;
    margin-top: 10%;
    margin-left: 10%;
}

input {
    border: none;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 7px;
    padding: 15px;
    color: #000;
    transition: all .15s ease-in;
    font-size: 0.7em;
}

input[type=email] {
    width: 50%;

}

input[type=email]::placeholder {
    color: rgba(255, 255, 255, 0.59);
}

input[type=submit] {
    background-color: #3793D1;
    color: #fff;
    font-weight: bold;
    margin-left: -20px;
    cursor: pointer;
}

input[type=submit]::focus {
    border: 1px solid #fff;
}

input:focus {
    border-color: rgb(53, 114, 210);
    box-shadow: 0px 0px 8px 2px rgba(53, 114, 210, .5);
    outline: none;
}

input::placeholder {
    color: #999;
}

#subscribe-result p {
    margin-top: 35px;
}

#subscribe-result a {
    color: inherit;
}

.container {
    float: left;
    font-weight: normal;
    font-size: 1.5em;
    color: white;
    margin-top: 15%;
    margin-left: 70px;
    width: 600px
}

.box {
    margin-top: 70px;
}

.links {
    margin-top: 30px
}

.links a {
    text-decoration: none;
    color: white;
    margin-right: 2em;
}

.links a .fa {
    margin-right: 0.7em;
    font-size: 1em;
}

.neon {
    color: #fff;
    text-shadow: 0 0 5px #ffffff2e,
    0 0 10px rgba(255, 255, 255, 0.4),
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) and (orientation: portrait) {
    html, body {
        min-height: 100%;
        height: auto;
    }
    .promo-image {
        width: 80%;
        height: 950px;
        float: none;
        background-position: center 100px;
        margin: 0 auto;
    }

    .container {
        float: left;
        font-weight: normal;
        font-size: 2.7em;
        color: white;
        margin-top: 0;
        margin-left: 70px;
        width: auto;
    }
    .links a {
        display: block;
    }
}